secretary/n8n-workflows/Secretary_Auto_Sync__FPaZcp6R7Z7DjniP.json
{
  "updatedAt": "2026-05-28T08:23:58.014Z",
  "createdAt": "2026-05-28T08:21:29.350Z",
  "id": "FPaZcp6R7Z7DjniP",
  "name": "Secretary Auto Sync",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "27245405-b702-4b5c-bc3b-c74df7e968ee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://secretary-query:5065/ingest-trigger",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "1e14bb15-d4d1-4bff-b3f4-17d51ad5659c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f4d2d46-cb92-4374-b61d-f11e52cb0066",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "45ded39f-3e05-49cb-9c7a-e56eca2ab8bb",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "8663614341",
        "text": "=⚠️ Auto sync ล้มเหลว: {{ $json.error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -160
      ],
      "id": "e906d87a-12fc-4db3-935e-637a6cf1cd38",
      "name": "Send a text message",
      "webhookId": "38434f4b-416c-4dbc-9335-ce036f993bd8",
      "credentials": {
        "telegramApi": {
          "id": "QiUZ8rINLwwPL1qu",
          "name": "Secretary Bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c566b763-56cc-49c2-823e-5f2da5f71106",
  "activeVersionId": "c566b763-56cc-49c2-823e-5f2da5f71106",
  "versionCounter": 14,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-28T08:21:29.357Z",
      "createdAt": "2026-05-28T08:21:29.357Z",
      "role": "workflow:owner",
      "workflowId": "FPaZcp6R7Z7DjniP",
      "projectId": "GNTPzE3LcG1I1VJU",
      "project": {
        "updatedAt": "2026-05-28T02:01:22.704Z",
        "createdAt": "2026-05-27T16:01:42.043Z",
        "id": "GNTPzE3LcG1I1VJU",
        "name": "Peerawat Ujaiyen <fixkychicky@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "53b2f3d7-9f8a-4316-a15e-8db0e12e1066"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-28T08:29:33.000Z",
    "createdAt": "2026-05-28T08:23:34.349Z",
    "versionId": "c566b763-56cc-49c2-823e-5f2da5f71106",
    "workflowId": "FPaZcp6R7Z7DjniP",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "27245405-b702-4b5c-bc3b-c74df7e968ee",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://secretary-query:5065/ingest-trigger",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          0
        ],
        "id": "1e14bb15-d4d1-4bff-b3f4-17d51ad5659c",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7f4d2d46-cb92-4374-b61d-f11e52cb0066",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          0
        ],
        "id": "45ded39f-3e05-49cb-9c7a-e56eca2ab8bb",
        "name": "If"
      },
      {
        "parameters": {
          "chatId": "8663614341",
          "text": "=⚠️ Auto sync ล้มเหลว: {{ $json.error }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          688,
          -160
        ],
        "id": "e906d87a-12fc-4db3-935e-637a6cf1cd38",
        "name": "Send a text message",
        "webhookId": "38434f4b-416c-4dbc-9335-ce036f993bd8",
        "credentials": {
          "telegramApi": {
            "id": "QiUZ8rINLwwPL1qu",
            "name": "Secretary Bot"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Peerawat Ujaiyen",
    "name": "Version c566b763",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-28T08:29:33.692Z",
        "id": 2,
        "workflowId": "FPaZcp6R7Z7DjniP",
        "versionId": "c566b763-56cc-49c2-823e-5f2da5f71106",
        "event": "activated",
        "userId": "53b2f3d7-9f8a-4316-a15e-8db0e12e1066"
      }
    ]
  }
}