secretary/n8n-workflows/Secretary_Bot__syPPm4qxmVNENC9U.json
{
  "updatedAt": "2026-06-03T05:52:17.035Z",
  "createdAt": "2026-05-28T08:05:25.756Z",
  "id": "syPPm4qxmVNENC9U",
  "name": "Secretary Bot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c36e3a3d-d46f-4d00-beee-5d86d9c96298",
      "name": "Telegram Trigger",
      "webhookId": "f06d7cd9-bc26-4f99-a3f3-eb082348a762",
      "credentials": {
        "telegramApi": {
          "id": "QiUZ8rINLwwPL1qu",
          "name": "Secretary Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e64971a-629b-4c4c-bb36-5ba0c6651eec",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": 8663614341,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        16
      ],
      "id": "0bd5ab0c-3ad0-4a6d-9092-5547832ed75f",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e54faac-be73-4760-8603-8a48ce096c42",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        16
      ],
      "id": "c9af7410-c68b-4897-bfcb-d5d13cdc9776",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "945dda52-5f84-439c-98e3-a7893a5f2cfa",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/sync",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        -80
      ],
      "id": "3dc38cea-cb6e-4cd2-9089-eefcaae523a5",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://secretary-query:5065/ingest-trigger",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -176
      ],
      "id": "b698b829-9e08-407d-8959-769c9ed2cf29",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ Sync เสร็จแล้ว",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        -224
      ],
      "id": "1ef7e468-1837-4174-9233-c475c7888060",
      "name": "Send a text message",
      "webhookId": "0dadff11-fbf2-4d25-9d60-aba3b535c47a",
      "credentials": {
        "telegramApi": {
          "id": "QiUZ8rINLwwPL1qu",
          "name": "Secretary Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://secretary-query:5065/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"session_id\": \"{{ $('Telegram Trigger').item.json.message.chat.id }}\"\n}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        240
      ],
      "id": "99b04e64-fe63-4197-9d89-145609f44043",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "efe1601a-b65d-4f0c-85a4-e87138d0e639",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        864,
        256
      ],
      "id": "827ec43f-7dd1-4d7b-ba5d-73b437336db5",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "8663614341",
        "text": "⚠️ ระบบมีปัญหา กรุณาลองใหม่",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        160
      ],
      "id": "90001f6c-d179-4c15-9cb0-9e1fac50275b",
      "name": "Send a text message1",
      "webhookId": "8947bb0c-a8e2-4a9a-b236-db8877af457f",
      "credentials": {
        "telegramApi": {
          "id": "QiUZ8rINLwwPL1qu",
          "name": "Secretary Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58cf9cd4-b711-4015-bc53-1029f858ec4a",
              "name": "reply_text",
              "value": "={{ $json.answer }}{{ $json.sources && $json.sources.length > 0 ? '\\n\\n📎 ' + $json.sources.map(s => s.breadcrumb + (s.page_url ? ' → ' + s.page_url : '')).join('\\n📎 ') : '' }}",
              "type": "string"
            },
            {
              "id": "0a5824a8-4d42-4e8e-80ed-b0c65347f8ca",
              "name": "chat_id",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        336
      ],
      "id": "cebcb3a2-5482-430f-90ec-3d9da1ef9efc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        352
      ],
      "id": "d1a8aac7-7318-4895-9da3-50dfe661cc0b",
      "name": "Send a text message2",
      "webhookId": "8d53cadd-b00f-4420-a11e-746f883c9efb",
      "credentials": {
        "telegramApi": {
          "id": "QiUZ8rINLwwPL1qu",
          "name": "Secretary Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "8c96083d-57f2-4bfa-bbc4-7334dc7c74ad",
  "activeVersionId": "8c96083d-57f2-4bfa-bbc4-7334dc7c74ad",
  "versionCounter": 72,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-28T08:05:25.765Z",
      "createdAt": "2026-05-28T08:05:25.765Z",
      "role": "workflow:owner",
      "workflowId": "syPPm4qxmVNENC9U",
      "projectId": "GNTPzE3LcG1I1VJU",
      "project": {
        "updatedAt": "2026-05-28T02:01:22.704Z",
        "createdAt": "2026-05-27T16:01:42.043Z",
        "id": "GNTPzE3LcG1I1VJU",
        "name": "Peerawat Ujaiyen <fixkychicky@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "53b2f3d7-9f8a-4316-a15e-8db0e12e1066"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-03T05:52:17.037Z",
    "createdAt": "2026-06-03T05:52:17.037Z",
    "versionId": "8c96083d-57f2-4bfa-bbc4-7334dc7c74ad",
    "workflowId": "syPPm4qxmVNENC9U",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ],
        "id": "c36e3a3d-d46f-4d00-beee-5d86d9c96298",
        "name": "Telegram Trigger",
        "webhookId": "f06d7cd9-bc26-4f99-a3f3-eb082348a762",
        "credentials": {
          "telegramApi": {
            "id": "QiUZ8rINLwwPL1qu",
            "name": "Secretary Bot"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7e64971a-629b-4c4c-bb36-5ba0c6651eec",
                "leftValue": "={{ $json.message.chat.id }}",
                "rightValue": 8663614341,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          208,
          16
        ],
        "id": "0bd5ab0c-3ad0-4a6d-9092-5547832ed75f",
        "name": "Filter"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7e54faac-be73-4760-8603-8a48ce096c42",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          416,
          16
        ],
        "id": "c9af7410-c68b-4897-bfcb-d5d13cdc9776",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "945dda52-5f84-439c-98e3-a7893a5f2cfa",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "/sync",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          640,
          -80
        ],
        "id": "3dc38cea-cb6e-4cd2-9089-eefcaae523a5",
        "name": "If1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://secretary-query:5065/ingest-trigger",
          "options": {
            "timeout": 300000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          896,
          -176
        ],
        "id": "b698b829-9e08-407d-8959-769c9ed2cf29",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "✅ Sync เสร็จแล้ว",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1152,
          -224
        ],
        "id": "1ef7e468-1837-4174-9233-c475c7888060",
        "name": "Send a text message",
        "webhookId": "0dadff11-fbf2-4d25-9d60-aba3b535c47a",
        "credentials": {
          "telegramApi": {
            "id": "QiUZ8rINLwwPL1qu",
            "name": "Secretary Bot"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://secretary-query:5065/query",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"question\": \"{{ $('Telegram Trigger').item.json.message.text }}\",\n  \"session_id\": \"{{ $('Telegram Trigger').item.json.message.chat.id }}\"\n}",
          "options": {
            "timeout": 180000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          640,
          240
        ],
        "id": "99b04e64-fe63-4197-9d89-145609f44043",
        "name": "HTTP Request1",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "efe1601a-b65d-4f0c-85a4-e87138d0e639",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          864,
          256
        ],
        "id": "827ec43f-7dd1-4d7b-ba5d-73b437336db5",
        "name": "If2"
      },
      {
        "parameters": {
          "chatId": "8663614341",
          "text": "⚠️ ระบบมีปัญหา กรุณาลองใหม่",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1088,
          160
        ],
        "id": "90001f6c-d179-4c15-9cb0-9e1fac50275b",
        "name": "Send a text message1",
        "webhookId": "8947bb0c-a8e2-4a9a-b236-db8877af457f",
        "credentials": {
          "telegramApi": {
            "id": "QiUZ8rINLwwPL1qu",
            "name": "Secretary Bot"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "58cf9cd4-b711-4015-bc53-1029f858ec4a",
                "name": "reply_text",
                "value": "={{ $json.answer }}{{ $json.sources && $json.sources.length > 0 ? '\\n\\n📎 ' + $json.sources.map(s => s.breadcrumb + (s.page_url ? ' → ' + s.page_url : '')).join('\\n📎 ') : '' }}",
                "type": "string"
              },
              {
                "id": "0a5824a8-4d42-4e8e-80ed-b0c65347f8ca",
                "name": "chat_id",
                "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1120,
          336
        ],
        "id": "cebcb3a2-5482-430f-90ec-3d9da1ef9efc",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.reply_text }}",
          "replyMarkup": "forceReply",
          "forceReply": {},
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1392,
          352
        ],
        "id": "d1a8aac7-7318-4895-9da3-50dfe661cc0b",
        "name": "Send a text message2",
        "webhookId": "8d53cadd-b00f-4420-a11e-746f883c9efb",
        "credentials": {
          "telegramApi": {
            "id": "QiUZ8rINLwwPL1qu",
            "name": "Secretary Bot"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          []
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Peerawat Ujaiyen",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-03T05:52:19.050Z",
        "id": 14,
        "workflowId": "syPPm4qxmVNENC9U",
        "versionId": "8c96083d-57f2-4bfa-bbc4-7334dc7c74ad",
        "event": "activated",
        "userId": "53b2f3d7-9f8a-4316-a15e-8db0e12e1066"
      },
      {
        "createdAt": "2026-06-03T05:52:17.759Z",
        "id": 13,
        "workflowId": "syPPm4qxmVNENC9U",
        "versionId": "8c96083d-57f2-4bfa-bbc4-7334dc7c74ad",
        "event": "deactivated",
        "userId": "53b2f3d7-9f8a-4316-a15e-8db0e12e1066"
      }
    ]
  }
}